{% style %}
  #section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | append: 'px' }};
    padding-bottom: {{ section.settings.padding_bottom | append: 'px' }};
  }

  @media screen and (max-width: 768px){
    #section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_mobile | append: 'px' }};
      padding-bottom: {{ section.settings.padding_bottom_mobile | append: 'px' }};
    }
  }
{% endstyle %}

<section id="section-{{ section.id }}" class="page-width tw-flex tw-flex-col tw-gap-[40px] md:tw-gap-0 md:tw-flex-row tw-items-start tw-justify-between">
  <span class="tw-w-full md:tw-w-[320px] tw-h2 tw-font-bold tw-tracking-wide tw-text-black tw-mt-[16px]">{{ section.settings.column_title }}</span>
  <div class="tw-w-full md:tw-w-[720px] tw-flex tw-flex-col tw-items-start tw-justify-start">
    {% for block in section.blocks %}
      <div class="tw-w-full">
        <a href="javascript:void(0)" drop-switch="{{ block.id }}" class="faq-toggle tw-flex tw-flex-row tw-items-start tw-justify-between tw-py-[16px] tw-border-b-[1px] tw-border-slate-300 hover:tw-border-slate-600 tw-text-slate-600" aria-expanded="false">
          <span class="tw-flex tw-flex-1 tw-text-[14px]">{{ block.settings.question }}</span>
          <svg class="faq-icon" width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 8.3751L0 2.3751L1.4 0.975098L6 5.5751L10.6 0.975098L12 2.3751L6 8.3751Z" fill="#475569"/>
          </svg>            
        </a>
        <div drop-container="{{ block.id }}" class="faq-content tw-hidden tw-mb-[16px] tw-w-full tw-p-[16px] tw-bg-stone-100 tw-text-[14px] tw-text-slate-600 tw-rounded-b-[8px] [&_ul]:tw-list-[unset] [&_ul]:tw-pl-[16px]">{{ block.settings.answer }}</div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "FAQ Dropdown",
  "settings": [
    {
      "type": "text",
      "id": "column_title",
      "label": "Column Title",
      "default": "Column Title"
    },
    {
      "type": "header",
      "content": "Section Padding (desktop)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Section padding (mobile)"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Padding top",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 24,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 24,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "name": "Dropdown",
      "type": "dropdown",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ Dropdown"
    }
  ]
}
{% endschema %}
