{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
    and has_social_icons == true
    or section.settings.enable_follow_on_shop
  -%}
    {%- unless only_empty_brand -%}
      <div class="footer__content-top page-width">
        {%- if section.blocks.size > 0 -%}
          {%- liquid
            if section.blocks.size == 9
              assign footer_grid_class = 'grid--3-col-tablet'
            elsif section.blocks.size > 6
              assign footer_grid_class = 'grid--4-col-desktop'
            elsif section.blocks.size > 4
              assign footer_grid_class = 'grid--3-col-tablet'
            endif
          -%}
          <div
            class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            {%- for block in section.blocks -%}
              {%- comment %} {%- endcomment %}
              {%- liquid
                assign custom_styles = ''
                if block.settings.max_width_desktop
                  assign max_width_style = '--custom-max-width: ' | append: block.settings.max_width_desktop | append: 'px;'
                  assign custom_styles = custom_styles | append: max_width_style
                endif
                if block.settings.padding_right_desktop
                   assign padding_right_style = '--custom-padding-right: ' | append: block.settings.padding_right_desktop | append: 'px;'
                   assign custom_styles = custom_styles | append: padding_right_style
                endif

                assign animation_style = ''
                if settings.animations_reveal_on_scroll
                  assign animation_style = '--animation-order: ' | append: forloop.index | append: ';'
                endif
              -%}

              <div
                class="footer-block grid__item pl-[15px]{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} {% unless block.type == 'newsletter' %} collapsible-parent{% endunless %}"
                {{ block.shopify_attributes }}
                {% if custom_styles != '' or animation_style != '' %}
                  style="{{ custom_styles }} {{ animation_style }}"
                {% endif %}
              >
                <div class="footer-block__heading-wrapper">
                  {%- if block.settings.heading != blank -%}
                    <h2 class="footer-block__heading inline-richtext {% unless block.type == 'newsletter' %} collapsible-trigger{% endunless %}" 
                    {% unless block.type == 'newsletter' %}
                        role="button" 
                        aria-controls="Block-{{ block.id }}" 
                        aria-expanded="false">
                    {% endunless %}
                      {{- block.settings.heading -}}
                    {% unless block.type == 'newsletter' %}
                      <span class="collapsible-icon">{% render 'icon-plus' %}</span>
                    {% endunless %}
                    </h2>
                  {%- endif -%}
                </div>
                <div id="Block-{{ block.id }}" 
                  class="footer-block__content {% unless block.type == 'newsletter' %} collapsible-content{% endunless %} EXPAND-CUSTOM" 
                {% unless block.type == 'newsletter' %}aria-hidden="true"{% endunless %}>
                  {%- case block.type -%}
                    {%- when '@app' -%}
                      {% render block %}
                    {%- when 'text' -%}
                      <div class="footer-block__details-content rte max-w-[95%]  " >
                        {{ block.settings.subtext }}
                      </div>
                    {%- when 'link_list' -%}
                      {%- if block.settings.menu != blank -%}
                        <ul class="footer-block__details-content list-unstyled  ">
                          {%- for link in block.settings.menu.links -%}
                            <li>
                              <a
                                href="{{ link.url }}"
                                class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %} hover:!no-underline hover:!text-[#ff5b00] "
                              >
                                {{ link.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    {%- when 'brand_information' -%}
                      <div class="footer-block__brand-info">
                        {%- if settings.brand_image != blank -%}
                          {%- assign brand_image_height = settings.brand_image_width
                            | divided_by: settings.brand_image.aspect_ratio
                          -%}
                          <div
                            class="footer-block__image-wrapper"
                            style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                          >
                            {{
                              settings.brand_image
                              | image_url: width: 1100
                              | image_tag:
                                loading: 'lazy',
                                widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                                height: brand_image_height,
                                width: settings.brand_image_width
                            }}
                          </div>
                        {%- endif -%}
                        {%- if settings.brand_headline != blank -%}
                          <h2 class="footer-block__heading rte">{{ settings.brand_headline }}</h2>
                        {%- endif -%}
                        {%- if settings.brand_description != blank -%}
                          <div class="rte">{{ settings.brand_description }}</div>
                        {%- endif -%}
                        {%- if block.settings.show_social and has_social_icons -%}
                          {%- render 'social-icons', class: 'footer__list-social' -%}
                        {%- endif -%}
                      </div>
                    {%- when 'image' -%}
                      <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                        {%- if block.settings.image != blank -%}
                          {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                          <div
                            class="footer-block__image-wrapper"
                            style="max-width: min(100%, {{ block.settings.image_width }}px);"
                          >
                            <img
                              srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                              src="{{ block.settings.image | image_url: width: 760 }}"
                              alt="{{ block.settings.image.alt | escape }}"
                              loading="lazy"
                              width="{{ block.settings.image.width }}"
                              height="{{ block.settings.image.height }}"
                            >
                          </div>
                        {%- else -%}
                          {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                        {%- endif -%}
                      </div>
                    {%- when 'newsletter' -%}
                      <div class="footer-block__details-content ">
                        <h2 class="footer-block__heading inline-richtext">{{ block.settings.newsletter_subheading }}</h2>
                        <div class="footer-block__details-content rte mb-[24px] mdlgshopify:mb-[56px]">
                          {{ block.settings.subheading_content }}
                        </div>
                        {%- if block.settings.newsletter_heading != blank -%}
                          <h2 class="footer-block__heading inline-richtext">{{ block.settings.newsletter_heading }}</h2>
                        {%- endif -%}
                        {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form max-w-full' -%}
                          <input type="hidden" name="contact[tags]" value="newsletter">
                          <div class="newsletter-form__field-wrapper max-w-full">
                            <div class="field">
                              <input
                                id="NewsletterForm--{{ section.id }}"
                                type="email"
                                name="contact[email]"
                                class="field__input"
                                value="{{ form.email }}"
                                aria-required="true"
                                autocorrect="off"
                                autocapitalize="off"
                                autocomplete="email"
                                {% if form.errors %}
                                  autofocus
                                  aria-invalid="true"
                                  aria-describedby="ContactFooter-error"
                                {% elsif form.posted_successfully? %}
                                  aria-describedby="ContactFooter-success"
                                {% endif %}
                                placeholder="{{ 'newsletter.label' | t }}"
                                required
                              >
                              <label class="field__label" for="NewsletterForm--{{ section.id }}">
                                {{ 'newsletter.label' | t }}
                              </label>
                              <button
                                type="submit"
                                class="newsletter-form__button field__button"
                                name="commit"
                                id="Subscribe"
                                aria-label="{{ 'newsletter.button_label' | t }}"
                              >
                                <span class="svg-wrapper">
                                  {{- 'icon-arrow.svg' | inline_asset_content -}}
                                </span>
                              </button>
                            </div>
                            {%- if form.errors -%}
                              <small class="newsletter-form__message form__message" id="ContactFooter-error">
                                <span class="svg-wrapper">
                                  {{- 'icon-error.svg' | inline_asset_content -}}
                                </span>
                                {{- form.errors.translated_fields.email | capitalize }}
                                {{ form.errors.messages.email -}}
                              </small>
                            {%- endif -%}
                          </div>
                          {%- if form.posted_successfully? -%}
                            <h3
                              class="newsletter-form__message newsletter-form__message--success form__message"
                              id="ContactFooter-success"
                              tabindex="-1"
                              autofocus
                            >
                              <span class="svg-wrapper">
                                {{- 'icon-success.svg' | inline_asset_content -}}
                              </span>
                              {{- 'newsletter.success' | t }}
                            </h3>
                          {%- endif -%}
                        {%- endform -%}
                      </div>
                  {%- endcase -%}
                </div>
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}

        <div
          class="footer-block--newsletter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
         

          {%- if section.settings.show_social and has_social_icons -%}
            {%- render 'social-icons', class: 'footer__list-social' -%}
          {%- endif -%}
        </div>
      </div>
    {%- endunless -%}
  {%- endif -%}

  <div
    class="footer__content-bottom{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} pt-[10px] border-0"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}>
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__column--info items-center px-[0px]">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
                <li class="list-payment__item flex-wrap justify-center">
                  {%- render 'icon', icon: 'bca' -%}
                  {%- render 'icon', icon: 'mandiri' -%}
                  {%- render 'icon', icon: 'bri' -%}
                  {%- render 'icon', icon: 'bni' -%}
                  {%- render 'icon', icon: 'permata' -%}
                  {%- render 'icon', icon: 'visa' -%}
                  {%- render 'icon', icon: 'mastercard' -%}
                  {% comment %} {%- render 'icon', icon: 'amex' -%} {% endcomment %}
                  {%- render 'icon', icon: 'jcb' -%}
                  {%- render 'icon', icon: 'ovo' -%}
                  {%- render 'icon', icon: 'dana' -%}
                  {%- render 'icon', icon: 'shopeepay' -%}
                  {%- render 'icon', icon: 'linkaja' -%}
                  {%- render 'icon', icon: 'alfamart' -%}
                </li>
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
    {% comment %} <div class="footer__content-bottom-wrapper page-width{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
      <div class="footer__copyright caption">
        <small class="copyright__content"
          >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
        </small>
        <small class="copyright__content">{{ powered_by_link }}</small>
      </div>
    </div> {% endcomment %}
  </div>
</footer>

<style>

  
  @media screen and (min-width: 1100px) {
    .collapsible-icon {
      display: none;
    }
    
    .collapsible-content {
      display: block !important;
      opacity: 1 !important;
    }
    
    .footer-block.grid__item {
      max-width: var(--custom-max-width);
      margin-right: var(--custom-padding-right);
    }
  }

  svg.payment-list__item{
    width: 4em;
    height: 4em;
    filter: none;
    margin: 4px;
    filter: brightness(0) invert(1);
  }

@media (max-width: 1100px) {
   .collapsible-trigger {
      cursor: pointer;
      position: relative;
      padding-right: 30px;
      width: 100%;
      text-align: left;
    }
    
    .collapsible-icon {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.3s ease;
    }
    
    .collapsible-icon svg {
      width: 16px;
      height: 16px;
    }
    
    .collapsible-content {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: all 0.3s ease;
    }
    
    .collapsible-content[aria-hidden="false"] {
      max-height: 1000px; /* Or a sufficiently large value */
      opacity: 1;
      padding-top: 12px;
    }
    
    .collapsible-trigger[aria-expanded="true"] .collapsible-icon {
      transform: translateY(-50%) rotate(45deg);
    }

    .footer__blocks-wrapper {
      display: block;
      
    }

  svg.payment-list__item{
    width: 3em;
    height: 3em;
    filter: none;
    fill: white;
  }

  .list-payment__item svg {
    filter: brightness(0) invert(1);
  }

  .collapsible-parent .collapsible-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .collapsible-parent .collapsible-content[aria-hidden="false"] {
    max-height: 1000px;
    opacity: 1;
    padding-top: 12px;
  }

  /* Newsletter tetap visible */
  #Block-{{ block.id }}[id^="Block-newsletter"] {
    display: block !important;
    max-height: none !important;
    opacity: 1 !important;
    padding-top: 0 !important;
  }
  
  .footer-block[class*="newsletter"] .collapsible-icon {
    display: none !important;
  }

  .footer-block.grid__item{
    width: 100%;
  }
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const triggers = document.querySelectorAll('.collapsible-trigger:not([aria-controls*="newsletter"])');
  
  triggers.forEach(trigger => {
    trigger.addEventListener('click', function() {
      const content = document.getElementById(this.getAttribute('aria-controls'));
      const isExpanded = this.getAttribute('aria-expanded') === 'true';
      
      this.setAttribute('aria-expanded', !isExpanded);
      content.setAttribute('aria-hidden', isExpanded);
    });
  });
});
</script>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        },
        {
          "type": "header",
          "content": "Pengaturan Layout (Desktop > 1400px)"
        },
        {
          "type": "range",
          "id": "max_width_desktop",
          "min": 100,
          "max": 500,
          "step": 10,
          "unit": "px",
          "label": "Lebar Maksimal Blok",
          "default": 300
        },
        {
          "type": "range",
          "id": "padding_right_desktop",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Padding Kanan Blok",
          "default": 15
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        },
        {
          "type": "header",
          "content": "Pengaturan Layout (Desktop > 1400px)"
        },
        {
          "type": "range",
          "id": "max_width_desktop",
          "min": 100,
          "max": 500,
          "step": 10,
          "unit": "px",
          "label": "Lebar Maksimal Blok",
          "default": 300
        },
        {
          "type": "range",
          "id": "padding_right_desktop",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Padding Kanan Blok",
          "default": 15
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        },
        {
          "type": "header",
          "content": "Pengaturan Layout (Desktop > 1400px)"
        },
        {
          "type": "range",
          "id": "max_width_desktop",
          "min": 100,
          "max": 500,
          "step": 10,
          "unit": "px",
          "label": "Lebar Maksimal Blok",
          "default": 300
        },
        {
          "type": "range",
          "id": "padding_right_desktop",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Padding Kanan Blok",
          "default": 15
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "header",
          "content": "Pengaturan Layout (Desktop > 1400px)"
        },
        {
          "type": "range",
          "id": "max_width_desktop",
          "min": 100,
          "max": 500,
          "step": 10,
          "unit": "px",
          "label": "Lebar Maksimal Blok",
          "default": 300
        },
        {
          "type": "range",
          "id": "padding_right_desktop",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Padding Kanan Blok",
          "default": 15
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "OUR STORE",
          "label": "Heading"
        },
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "text",
          "id": "newsletter_heading",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "text",
          "id": "newsletter_subheading",
          "label": "Subheading",
          "default": "A short sentence describing what someone will receive by subscribing"
        },
        {
          "type": "richtext",
          "id": "subheading_content",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        },
        {
          "type": "header",
          "content": "Pengaturan Layout (Desktop > 1400px)"
        },
        {
          "type": "range",
          "id": "max_width_desktop",
          "min": 100,
          "max": 500,
          "step": 10,
          "unit": "px",
          "label": "Lebar Maksimal Blok",
          "default": 300
        },
        {
          "type": "range",
          "id": "padding_right_desktop",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Padding Kanan Blok",
          "default": 15
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}